<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Sobre nosotros</h2>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <div class="card-body">
                <p>
                  En ProSaludEX, nos enorgullecemos de ofrecer una atención médica integral y de calidad para toda la comunidad. Somos un centro médico líder en la región, comprometidos con la excelencia en el cuidado de la salud y el bienestar de nuestros pacientes.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p>
                  Nuestra misión es brindar un enfoque centrado en el paciente, donde cada individuo es tratado con el respeto y la compasión que se merece. Contamos con un equipo de profesionales altamente calificados y dedicados que trabajan incansablemente para proporcionar un ambiente cálido y acogedor, donde los pacientes se sientan seguros y confiados en cada paso de su tratamiento médico.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p>
                  Nuestras instalaciones están equipadas con tecnología de vanguardia que nos permite ofrecer diagnósticos precisos y tratamientos efectivos. Contamos con especialidades médicas diversas, que abarcan desde medicina general y familiar hasta áreas más especializadas, como cardiología, pediatría, ginecología, dermatología, odontología, entre otras.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p>
                  En ProSaludEX, la innovación y la investigación son pilares fundamentales para mejorar constantemente nuestros servicios y garantizar que nuestros pacientes reciban la mejor atención posible. Mantenemos al día nuestros conocimientos médicos para estar a la vanguardia de los avances médicos y terapéuticos.
                </p>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>
