/* .navbar-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

input[type="text"], input[type="password"] {
  width: 150px;
}

*/
/* .inpEmail{
  margin-right: 15px;
  border-radius: 50px;
} */

input[type="email"],input[type="password"]{
  border-radius: 10px;
  border-width: 0.5px;
  border-color:aquamarine;
  box-shadow: 2px;

}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navbar-brand img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
}

.navbar-right a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-field {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 30px;
}

.login-button {
  margin-left: auto;
  border-radius: 10px;
  margin-left: 10px;
}
