<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Nuestros servicios</h2>
      <div class="card-deck mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Medicina General</h5>
            <p class="card-text">Ofrecemos servicios de medicina general para el cuidado de tu salud en general.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Traumatología</h5>
            <p class="card-text">Nuestro equipo de especialistas en traumatología se encarga del tratamiento de lesiones y problemas relacionados con el sistema musculoesquelético.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Neumología</h5>
            <p class="card-text">Brindamos servicios especializados en el diagnóstico y tratamiento de enfermedades respiratorias.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Neurología</h5>
            <p class="card-text">Contamos con especialistas en neurología que se dedican al estudio y tratamiento de enfermedades del sistema nervioso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

