<!-- FILEPATH: /c:/xampp/htdocs/ProSaludEX/src/app/usuarios/medico/medico.component.html -->

<!-- Formulario de filtrado en línea -->



<div class="container">

  <div class="row">

    <div class="col-md-6 col-lg-3 mb-3">
      <label for="num_ss" class="form-label">Número de Seguridad Social:</label>
      <input type="text" class="form-control" id="num_ss" name="num_ss">
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <label for="apellido1" class="form-label">Primer Apellido:</label>
      <input type="text" class="form-control" id="apellido1" name="apellido1">
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <label for="apellido2" class="form-label">Segundo Apellido:</label>
      <input type="text" class="form-control" id="apellido2" name="apellido2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-3 mb-3">
      <label for="hora_cita" class="form-label">Hora de la Cita:</label>
      <input type="time" class="form-control" id="hora_cita" name="hora_cita">
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <label for="fecha_cita" class="form-label">Fecha de la Cita:</label>
      <input type="date" class="form-control" id="fecha_cita" name="fecha_cita">
    </div>
     <div class="col-md-7 col-lg-4 mb-4 divBotones">
      <button type="button" class="btn btn-info" (click)="filtrar()">Filtrar</button>
      <button type="button" class="btn btn-info" (click)="limpiarCampos()">Limpiar</button>
      <button type="button" class="btn btn-info btnAtras" routerLink="inicio">Atras</button>
  </div>
</div>

  <script>



      function filtrar() {

        var num_ss = document.getElementById("num_ss").value;
        var nombre = document.getElementById("nombre").value;
        var apellido1 = document.getElementById("apellido1").value;
        var apellido2 = document.getElementById("apellido2").value;
        var fecha_cita = document.getElementById("fecha_cita").value;
        var hora_cita = document.getElementById("hora_cita").value;
        alert(num_ss);
        alert(nombre);
        alert(apellido1);
        alert(apellido2);
        alert(fecha_cita);
        alert(hora_cita);
        //window.location.href = "http://localhost:4200/usuarios/medico/medico.component.html";
        window.location.href = "http://localhost:4200/usuarios/medico/medico.component.html?num_ss=" + num_ss + "&nombre=" + nombre + "&apellido1=" + apellido1 + "&apellido2=" + apellido2 + "&fecha_cita=" + fecha_cita + "&hora_cita=" + hora_cita;

      }

  </script>

  <div class="row">

    <div class="col-md-12 col-lg-12 mb-12">

      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número de Seguridad Social</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Fecha de la Cita</th>
            <th scope="col">Hora de la Cita</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas" class="resaltado">
            <td>{{ cita.id }}</td>
            <td>{{ cita.num_ss }}</td>
            <td>{{ cita.nombre }}</td>
            <td>{{ cita.apellido1 }}</td>
            <td>{{ cita.apellido2 }}</td>
            <td>{{ cita.fecha_cita }}</td>
            <td>{{ cita.hora_cita }}</td>
            <td>{{ cita.motivo }}</td>
            <td>{{ cita.tratamiento }}</td>
            <td><button (click)="editarCita(cita)">Editar</button></td>
            <td><button (click)="eliminarCita(cita)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>






