
<div class="container">
  <h2 class="text-info">Formulario de registro</h2>
  <form action="register.ts" method="post">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control inpsRegistrar" id="inpNombre" placeholder="Nombre">
        </div>
      </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="primerApellido">Primer apellido</label>
            <input type="text" class="form-control inpsRegistrar" id="inpPrimerApellido" placeholder="Primer apellido">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="segundoApellido">Segundo apellido</label>
            <input type="text" class="form-control inpsRegistrar" id="inpSegundoApellido" placeholder="Segundo apellido">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select class="form-control inpsRegistrar" id="inpSexo">
              <option value="H">Hombre</option>
              <option value="M">Mujer</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control inpsRegistrar" id="inpDni" placeholder="DNI">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="numeroSS">Número de la Seguridad Social</label>
            <input type="text" class="form-control inpsRegistrar" id="inpNumeroSS" placeholder="Número de la Seguridad Social">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="text" class="form-control inpsRegistrar" id="inpEmail" placeholder="Correo Electrónico">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control inpsRegistrar" size="15" id="inpPass" placeholder="Contraseña">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn-submit btn btn-info">Registrarse</button>
          <button type="button" class="btn btn-info btn btnAtras" routerLink="inicio">Atrás</button>
        </div>
      </div>
    </div>

  </form>

</div>
