
<div class="container">
  <h2>Formulario de registro</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="form-group col-md-4">
        <label for="primerApellido">Primer apellido</label>
        <input type="text" class="form-control" id="primerApellido" placeholder="Primer apellido">
      </div>
      <div class="form-group col-md-4">
        <label for="segundoApellido">Segundo apellido</label>
        <input type="text" class="form-control" id="segundoApellido" placeholder="Segundo apellido">
      </div>
    </div>
    <div class="form-group">
      <label for="sexo">Sexo</label>
      <select class="form-control" id="sexo">
        <option value="H">Hombre</option>
        <option value="M">Mujer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="text" class="form-control" id="dni" placeholder="DNI">
    </div>
    <div class="form-group">
      <label for="numeroSS">Número de la Seguridad Social</label>
      <input type="text" class="form-control" id="numeroSS" placeholder="Número de la Seguridad Social">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>
